{{ form_start(form) }}

{% for field in form %}
    <div class="mb-3">
        {{ form_label(field) }}
        {{ form_widget(field, {'attr': {'class': 'form-control' ~ (form_errors(field) ? ' is-invalid' : '')}}) }}

        {% if field.vars.name == 'pricePerSeat' %}
            <small class="form-text text-muted">Le prix doit être un multiple de 5 crédits, minimum 5.</small>
        {% endif %}

        {% if form_errors(field) %}
            <div class="invalid-feedback">
                {{ form_errors(field) }}
            </div>
        {% endif %}
    </div>
{% endfor %}

<button type="submit" class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }} 